/* html document body */

body {
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: rgb(236, 239, 241);
}

/*
===============================
header
===============================
*/

.page-header-container {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.sign-up-check {
  margin-right: 1em;
}

.sign-in-button {
  color: white;
  background: royalblue;
  margin-right: 15px;
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 1.05em;
  border-radius: 4px;
}

.lock {
  width: 12px;
  height: 16px;
}

/*
===============================
section
===============================
*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.intuit {
  margin-bottom: 5px;
}

.logo-container {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.b-logo {
  width: 23px;
  height: 23px;
  margin-right: 4px;
}

.b-logo-text {
  margin-right: 9px;
}

li {
  text-decoration: none;
}

/* brand logos */

.brand-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* form-section */

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-header {
  margin-bottom: 10px;
  color: rgb(76, 76, 76);
  font-size: 24px;
}

.sign-up-sub-header {
  font-size: 14px;
  text-align: center;
  color: rgb(76, 76, 76);
}

.form-section {
  flex-direction: column;
  height: 614px;
  width: 380px;
  padding: 30px 30px 30px;
  box-sizing: border-box;
  border-radius: 2px;
  border: #ccc solid;
  background-color: rgb(255, 255, 255);
}

.sign-up-form {
  flex-direction: column;
  margin-top: 24px;
}

.labels {
  padding-bottom: 20px;
  font-size: 14px;
  color: rgb(76, 76, 76);
}

.input-field {
  margin-top: 5px;
  padding: 10px;
  width: 290px;
}

#password {
  margin-bottom: 15px;
}

.submit-button {
  color: white;
  background: royalblue;
  padding: 0 25px;
  font-size: 1.05em;
  border-radius: 4px;
  width: 312px;
  margin-bottom: 25px;
  height: 40px;
}

.form-footer {
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  text-align: center;
  font-style: italic;
}

.captcha-container {
  display: block;
  background-color: rgb(236, 238, 241);
  line-height: 21px;
  margin-bottom: -30px;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 30px;
  text-align: center;
  font-size: 10px;
  padding: 16px;
}

.privacy-terms {
  text-decoration: none;
  color: #0077c5;
}

.ul-footer-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}

.ul-footer-links li a {
  color: #505050;
  font-size: 10px;
  text-decoration: none;
  margin-right: 1em;
}

.footer-copyright {
  text-align: center;
  font-size: 12px;
}

.copyright-text {
  line-height: 1.8em;
}

.link {
  color: #0077c5;
  text-decoration: none;
  list-style: none;
  font-size: 12px;
}

.privacy-btn {
  color: #ccc;
  height: 44px;
  border-radius: 2px;
  font-size: 14px;
  position: fixed;
  bottom: 1px;
  right: 5%;
  cursor: default;
  background-color: #505050;
  z-index: 3;
  display: block;
  padding: 10px 12px;
}
