/*html document body*/

body {
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: rgb(236, 239, 241);
}

/*
===============================
header
===============================
*/

.page-header-container {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.sign-up-check {
  margin-right: 1em;
}

.link {
  color: royalblue;
  text-decoration: none;
}

.sign-in-button {
  color: white;
  background: royalblue;
  margin-right: 15px;
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 1.05em;
  border-radius: 4px;
}

.lock {
  width: 12px;
  height: 16px;
}

/*
===============================
section
===============================
*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.intuit {
  margin-bottom: 5px;
}

.logo-container {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.b-logo {
  width: 23px;
  height: 23px;
  margin-right: 4px;
}

.b-logo-text {
  margin-right: 9px;
}

li {
  text-decoration: none;
}

/*brand logos*/

.brand-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*form-section*/

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.sign-up-header {
  margin-bottom: 10px;
  color: rgb(76, 76, 76);
  font-size: 24px;
  
}
.sign-up-sub-header {
  font-size: 14px;
  text-align: center;  
}
.form-section {
  flex-direction: column;
  height: 662px;
  width: 380px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 2px;
  border: #CCCCCC solid;
  outline-width: 1px;
  background-color: rgb(255, 255, 255);
}

.sign-up-form {
  flex-direction: column;
  margin-top: 44px;
}

.labels {
  box-sizing: border-box;
  padding-bottom: 6px;
  font-size: 14px;
}